/*
    bootsnack.css
    CSS for jquery.bootsnack.js plugin.
    Required.
*/

.bootsnack {
    max-width: 25%;
    background-image: none;
}

#bootsnackAlertContainer {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 25%; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 30px;
    opacity: 0;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#bootsnack.show {
    opacity: 1;
    visibility: visible; /* Show the snackbar */
    animation: bootsnackfadein 0.5s, bootsnackfadeout 0.5s 8s forwards;

}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes bootsnackfadein {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes bootsnackfadein {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes bootsnackfadeout {
    0% {
        bottom: 30px;
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bootsnackfadeout {
    0% {
        bottom: 30px;
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
}
