/*
 * Globals
 */

#nav1 {
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 1001;
}
#nav{
    position:absolute;
    top:0;
    left:0;
    width:0px;
    height:100%;
    z-index:100;
    background:#111;
    color:#fff;
    overflow:hidden;
    z-index: 1002;
}
/*#nav ul{
    margin:0;
    padding:0;
    width:200px;
    margin:10px;
    list-style:none;
}
#nav a span{
    margin:0 10px 0 0;
}
#nav a{
    color:#fff;
    font-size:14px;
    text-decoration:none;
}*/

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: transparent;
  -webkit-box-shadow: inset -10px 0px 15px 3px rgba(0,0,0,0.5);
-moz-box-shadow: inset -10px 0px 15px 3px rgba(0,0,0,0.5);
box-shadow: inset -10px 0px 15px 3px rgba(0,0,0,0.5);
}
.menu li a{
    display:block;
    height:em;
    width:5em;
    text-indent:-500em;
    line-height:5em;
    text-align:center;
    color: white;
    background: transparent;
    position: relative;
    transition: background 0.3s ease-in-out;
}
.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}
.menu li a.search:before {
  content: "\f002";
}
.menu li a.archive:before {
  content: "\f187";
}
.menu li a.pencil:before {
  content: "\f040";
}
.menu li a.contact:before {
  content: "\f003";
}
.menu li a.about:before {
  content: "\f007";
}
.menu li a.home:before {
  content: "\f015";
}
.menu li a:hover{
  background: white;
  color: black;
}
.menu li.current a {
  background: #ff5e5e;
  color: #fff;
}
.menu li a.active {
  background: black;
  color: white;
}
.menu li a.active:after{
    position:absolute;
    left:5em;
    top:0;
    content:"";
    border:2.5em solid transparent;
    border-left-color:black;
    border-width: 2.5em 1em;
    z-index:1003;
}
.menu li{
    position:relative;
}
.menu li:after{
    content: attr(title);
    position:absolute;
    left:5em;
    top:0;
    height:5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform:uppercase;
    background:transparent;
    padding:2em;
    transition: all 0.3s ease-in-out;
    visibility:hidden;
    opacity:0;
    -webkit-box-shadow: inset -10px 0px 35px 3px rgba(0,0,0,0.5);
-moz-box-shadow: inset -10px 0px 35px 3px rgba(0,0,0,0.5);
box-shadow: inset -10px 0px 35px 3px rgba(0,0,0,0.5);
z-index:1003;
}
.menu li:hover:after{
    visibility:visible;
    opacity:1;
}
@media screen and (max-height: 34em){
  .menu li{
    font-size:70%;
  }
}

.hiddenSidebar {
    left:0px !important;
}


.blueGlyphicon {
    color:#71cef5;
}

.tm-contact {
  background: #000000;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.form-control {
  background: transparent;
  border: 1px solid #71cef5;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.form-control:focus,
 .form-control:hover {
  background: #202020;
  color: #fff;
}
input { height: 50px; }
.tm-contact p { padding-top: 40px; }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/* START WORK */
.tm-padding-top-bottom-100 {
  background: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}
.tm-work-h3 {
  color: #71cef5;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.work-wrapper {
  border: 1px solid #666;
  border-radius: 2px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.work-wrapper:hover { border-color: #71cef5; }
.work-wrapper .fa {
  color: #888888;
  font-size: 60px;
  padding-bottom: 40px;
}
/* END WORK */

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 99.75%;
    min-height: 99.75%;
    position: relative;
    z-index: 1;
    left: 0px;
}

.site-wrapper-collapsed {
    left: 74.67px !important;
}

body {
    background-image: url('MediaImages/media8.jpg');
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;

}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}