<div style="display:none;" class="inner cover" id="appmanager">

    <h1 class="cover-heading">Application Manager</h1>
    <p class="lead" style="color: #71cef5;">Manage settings for all existing apps.</p>
    
    <br/>
    
    <div class="row">
        <div class="col-md-12">
            <div class="appContainer work-wrapper" id="landingPage">
                <h3>Landing Page</h3>
                <hr>
                <div class="settingsContainer">
                    <label>Site Links</label><br />

                    <label>Site Links</label><br />

                    <label>Site Links</label><br />

                    <label>Site Links</label><br />

                    <label>Site Links</label><br />

                    <label>Site Links</label><br />
                </div>
            </div>
            <div class="appContainer work-wrapper" id="myHome">
                <h3>My Custom Homepage</h3>
                <hr>
                <div class="settingsContainer">
                    <label>Site Links</label>
                </div>
            </div>
            <div class="appContainer work-wrapper" id="mediaDashboard">
                <h3>Plex Media Dashboard</h3>
                <hr>
                <div class="settingsContainer">
                    <label>Site Links</label>
                </div>
            </div>
            <div class="appContainer work-wrapper" id="landingPage">
                <h3>My Professional Portfolio</h3>
                <hr>
                <div class="settingsContainer">
                    <label>Site Links</label>
                </div>
            </div>
        </div>
    </div>

</div>