@model devinmajordotcom.ViewModels.SiteLinkViewModel

<div class="work-wrapper">
    <i class="glyphicon @Model.DisplayIcon" style="font-size: 50px;"></i>
    <h3 class="text-uppercase tm-work-h3">@Model.DisplayName</h3>
    <hr>
    <p>@Model.Description</p>
</div>