<div class="work-wrapper">
    <i class="glyphicon glyphicon-user" style="font-size: 50px;"></i>
    <h3 class="text-uppercase tm-work-h3">Professional Portfolio</h3>
    <hr>
    <p>Movies, TV, Music, Photos and More! Click here to be entertained.</p>
</div>