@model devinmajordotcom.ViewModels.MainLandingPageViewModel
<div style="display:none;" class="inner cover" id="server">

    @*<h1 class="cover-heading">This is My Server...</h1>
    <p class="lead" style="color: #71cef5;">Watch the live feed of statistics below, and marvel at the beauty of my server.</p>*@

    <h2 class="title"><strong>@Model.Config.ServerStatusTitle</strong></h2>
    <hr>
    <p style="color: #71cef5;">@Model.Config.ServerStatusDescription</p>
    <hr>
    
    <div style="background-color: #0B1C1E;">
        
        <div class="row">
            <div class="col-sm-4">
                <div class="chart"><div id="cpuCounter" class="performancePieChart percentage" data-percent=""><div class="percent"></div></div><div class="chartlabel">CPU Usage</div></div>
            </div>
            <div class="col-sm-4">
                <div class="chart"><div id="ramCounter" class="performancePieChart percentage" data-percent=""><div class="percent"></div></div><div class="chartlabel">RAM Usage</div></div>
            </div>
            <div class="col-sm-4">
                <div id="tempCounter" class="" data-percent="0">0</div>
            </div>
        </div>

        <div id="driveCounters"></div>

    </div>

</div>
