<div style="display:none;" class="inner cover" id="server">

    @*<h1 class="cover-heading">This is My Server...</h1>
    <p class="lead" style="color: #71cef5;">Watch the live feed of statistics below, and marvel at the beauty of my server.</p>*@

    <h2 class="title"><strong>This Website is Brought To You By...</strong></h2>
    <hr>
    <p style="color: #71cef5;">Watch the live feed of statistics below, and marvel at the beauty of my server.</p>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <div id="cpuCounter" class="performancePieChart" data-percent=""><span class="percent"></span></div>
            @*<div id="ramCounter">0%</div>
            <div id="tempCounter" class="performancePieChart" data-percent="0">0%</div>*@
            <div id="driveCounters">0%</div>
        </div>
    </div>

</div>
