@model devinmajordotcom.ViewModels.ServerDataViewModel
@{
    var config = Model.LandingPageBannerLinks.FirstOrDefault(x => x.IsEnabled && x.URL == "#server");
}

<div class="inner cover" id="serverGraphs">

    @if (config != null)
    {
        <h2 class="title"><strong>@config.Description</strong></h2>
        <hr>
        <p style="color: #71cef5;">@config.Directive</p>
        <hr>
    }

    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" id="goBackToServer"><span class="glyphicon glyphicon-stats"></span>&nbsp;Hide Graphs</button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="chartContainer">
                <canvas id="cpuLoadChart" width="400" height="400"></canvas>
                <canvas id="ramLoadChart" width="400" height="400"></canvas>
                <canvas id="cpuTempChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    var firstRun1 = true;
    var labels = [];
    var cpuLoadLineGraph, ramLoadLineGraph, cpuTempLineGraph;

    for (var i = 1; i <= 60; i++) {
        labels.push(i.toString());
    }

    $(document).ready(function () {

        $.connection.hub.stop();
        ConnectToSignalRPerformanceHistoryHub();

    });

    function addData(chart, data) {
        chart.data.datasets[0].data.pop();
        chart.data.datasets[0].data = data;
        chart.update(0);
    }

    function ConnectToSignalRPerformanceHistoryHub() {

        var performanceHistoryHub = $.connection.performanceHistoryHub;

        performanceHistoryHub.client.updatePerformanceHistory = function (cpuList, nextCpuValues, nextRamValues, temps) {

            var counter = 0;

            if (firstRun1) {

                var ctx1 = document.getElementById("cpuLoadChart");
                var ctx2 = document.getElementById("ramLoadChart");
                var ctx3 = document.getElementById("cpuTempChart");

                cpuLoadLineGraph = new Chart(ctx1, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'CPU Usage',
                            data: nextCpuValues,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                ramLoadLineGraph = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'RAM Usage',
                            data: nextRamValues,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                cpuTempLineGraph = new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'CPU Temperature',
                            data: temps,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                firstRun1 = false;

            }
            else {
                addData(cpuLoadLineGraph, nextCpuValues);
                addData(ramLoadLineGraph, nextRamValues);
                addData(cpuTempLineGraph, temps);

            }

            

            

        };

        $.connection.hub.start().done(function () {
            performanceHistoryHub.server.SendPerformanceHistory();
        }).fail(function (reason) {
            $("#ajaxAlertContainer").bootsnack({
                alertType: 'error',
                message: 'SignalR is not running.'
            });
        });

    }

</script>