@model devinmajordotcom.ViewModels.EditBlogPostsViewModel
@using (Ajax.BeginForm("_EditBlogPostForm", "MyHome", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "UpdateBlogPostsModal(data);", UpdateTargetId = "blogPostFormContainer" }, new { @id = "BlogPostSelectionForm" }))
{
    @Html.HiddenFor(x => x.UserID)
    <div class="row">
        <div class="col-sm-12 text-center">
            @Html.DropDownListFor(
                o => o.SelectedBlogPostID,
                new SelectList(Model.AvailableBlogPosts, "Id", "Name"),
                new
                {
                    @class = "form-control",
                }
                )
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.ValidationMessageFor(x => x.SelectedBlogPostID)
        </div>
    </div>
    <br/>

}

<div id="blogPostFormContainer" style="color: white !important;"></div>

<script>
    $(document).ready(function() {
        setTimeout(startPost, 1000);
        $("#SelectedBlogPostID").change(function () {
            $("#BlogPostSelectionForm").submit();
        });
    });

    function startPost() {
        $("#BlogPostSelectionForm").submit();
    }
</script>