@model devinmajordotcom.ViewModels.MyHomeUserConfigViewModel
@{ 

}
<div id="formContainer">

    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(x => x.)
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

</div>