@model devinmajordotcom.ViewModels.BlogPostViewModel
@{
    Layout = "../Shared/_HomeLayout.cshtml";
}
<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-detail-thumb">

                    <div class="blog-image">
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Image))" class="img-responsive" alt="Blog Post Image">
                    </div>

                    <h2>@Model.PostTitle</h2>

                    <small><i class="fa fa-clock-o"></i>@Model.CreatedOn</small>

                    <p>@Model.Body</p>

                    <hr/>

                    <h2>Comments</h2>

                    <blockquote>
                        Comment Stuff?
                    </blockquote>

                    <hr/>

                    <div class="blog-social-share">
                        <h4>Share this article</h4>
                        <a href="https://www.facebook.com/templatemo" class="btn btn-primary"><i class="fa fa-facebook"></i>facebook</a>
                        <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>google plus</a>
                    </div>

                </div>
            </div>
                    
        </div>
    </div>
</section>